name: Build And Publish

on:
  push:
    branches:
      - main
      - develop
      - release/*
      - hotfix/*
    tags:
      - v*
  pull_request:
    branches:
      - main
      - develop
  workflow_dispatch:
    inputs:
      publish_prerelease:
        description: Publish prerelease packages to nuget.org
        required: false
        default: true
        type: boolean
      publish_stable:
        description: Publish stable packages to nuget.org
        required: false
        default: false
        type: boolean

permissions:
  contents: read
  id-token: write

env:
  BUILD_CONFIGURATION: Release
  NUGET_SOURCE: https://api.nuget.org/v3/index.json

jobs:
  build_packages:
    name: Build And Pack ${{ matrix.package_name }}
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        include:
          - package_name: templates
            package_type: templates
          - revit_version: "2019"
            package_name: revit-framework-2019
            package_type: revit
          - revit_version: "2020"
            package_name: revit-framework-2020
            package_type: revit
          - revit_version: "2021"
            package_name: revit-framework-2021
            package_type: revit
          - revit_version: "2022"
            package_name: revit-framework-2022
            package_type: revit
          - revit_version: "2023"
            package_name: revit-framework-2023
            package_type: revit
          - revit_version: "2024"
            package_name: revit-framework-2024
            package_type: revit
          - revit_version: "2025"
            package_name: revit-framework-2025
            package_type: revit
          - revit_version: "2026"
            package_name: revit-framework-2026
            package_type: revit
          - package_name: revit-separation-analyzer
            package_type: analyzer

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Setup GitVersion
        uses: gittools/actions/gitversion/setup@v3
        with:
          versionSpec: 6.x

      - name: Execute GitVersion
        id: gitversion
        uses: gittools/actions/gitversion/execute@v3

      - name: Build and pack package
        shell: pwsh
        run: |
          switch ("${{ matrix.package_type }}") {
            "templates" {
              dotnet restore Assistant.Extensions.Templates.csproj
              dotnet build Assistant.Extensions.Templates.csproj --configuration $env:BUILD_CONFIGURATION --no-restore

              dotnet pack Assistant.Extensions.Templates.csproj --no-build --configuration $env:BUILD_CONFIGURATION --output artifacts/prerelease /p:PackageVersion=${{ steps.gitversion.outputs.semVer }} /p:Version=${{ steps.gitversion.outputs.semVer }}
              dotnet pack Assistant.Extensions.Templates.csproj --no-build --configuration $env:BUILD_CONFIGURATION --output artifacts/release/public /p:PackageVersion=${{ steps.gitversion.outputs.majorMinorPatch }} /p:Version=${{ steps.gitversion.outputs.majorMinorPatch }}
            }

            "revit" {
              dotnet restore frameworks/RevitAppFramework/RevitAppFramework.csproj --configfile nuget.config
              dotnet build frameworks/RevitAppFramework/RevitAppFramework.csproj --configuration Release${{ matrix.revit_version }} --no-restore

              dotnet pack frameworks/RevitAppFramework/RevitAppFramework.csproj --no-build --configuration Release${{ matrix.revit_version }} --output artifacts/prerelease /p:PackageVersion=${{ steps.gitversion.outputs.semVer }} /p:Version=${{ steps.gitversion.outputs.semVer }}
              dotnet pack frameworks/RevitAppFramework/RevitAppFramework.csproj --no-build --configuration Release${{ matrix.revit_version }} --output artifacts/release/public /p:PackageVersion=${{ steps.gitversion.outputs.majorMinorPatch }} /p:Version=${{ steps.gitversion.outputs.majorMinorPatch }}
            }

            "analyzer" {
              dotnet restore analyzers/RevitSeparationAnalyzer/RevitSeparationAnalyzer/RevitSeparationAnalyzer.csproj
              Get-ChildItem analyzers/RevitSeparationAnalyzer/RevitSeparationAnalyzer.Test -Filter *.csproj | ForEach-Object {
                dotnet restore $_.FullName
              }

              dotnet build analyzers/RevitSeparationAnalyzer/RevitSeparationAnalyzer/RevitSeparationAnalyzer.csproj --configuration $env:BUILD_CONFIGURATION --no-restore
              Get-ChildItem analyzers/RevitSeparationAnalyzer/RevitSeparationAnalyzer.Test -Filter *.csproj | ForEach-Object {
                dotnet build $_.FullName --configuration $env:BUILD_CONFIGURATION --no-restore
              }

              Get-ChildItem analyzers/RevitSeparationAnalyzer/RevitSeparationAnalyzer.Test -Filter *.csproj | ForEach-Object {
                dotnet test $_.FullName --configuration $env:BUILD_CONFIGURATION --no-build
              }

              dotnet pack analyzers/RevitSeparationAnalyzer/RevitSeparationAnalyzer/RevitSeparationAnalyzer.csproj --no-build --configuration $env:BUILD_CONFIGURATION --output artifacts/prerelease /p:PackageVersion=${{ steps.gitversion.outputs.semVer }} /p:Version=${{ steps.gitversion.outputs.semVer }}
              dotnet pack analyzers/RevitSeparationAnalyzer/RevitSeparationAnalyzer/RevitSeparationAnalyzer.csproj --no-build --configuration $env:BUILD_CONFIGURATION --output artifacts/release/public /p:PackageVersion=${{ steps.gitversion.outputs.majorMinorPatch }} /p:Version=${{ steps.gitversion.outputs.majorMinorPatch }}
            }

            default {
              throw "Unsupported package type: ${{ matrix.package_type }}"
            }
          }

      - name: Upload prerelease artifacts - ${{ matrix.package_name }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.package_name }}-prerelease-packages
          path: artifacts/prerelease/*.nupkg
          if-no-files-found: error

      - name: Upload stable artifacts - ${{ matrix.package_name }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.package_name }}-stable-packages
          path: artifacts/release/public/*.nupkg
          if-no-files-found: error

  publish_packages:
    name: Publish Packages
    needs: build_packages
    runs-on: windows-2022
    if: ${{ github.event_name == 'workflow_dispatch' && (inputs.publish_prerelease || inputs.publish_stable) }}

    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: NuGet login
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Download prerelease artifacts
        if: ${{ inputs.publish_prerelease }}
        uses: actions/download-artifact@v4
        with:
          pattern: '*-prerelease-packages'
          path: artifacts/prerelease
          merge-multiple: true

      - name: Download stable artifacts
        if: ${{ inputs.publish_stable }}
        uses: actions/download-artifact@v4
        with:
          pattern: '*-stable-packages'
          path: artifacts/release/public
          merge-multiple: true

      - name: Publish prerelease to nuget.org
        if: ${{ inputs.publish_prerelease }}
        shell: pwsh
        run: |
          Get-ChildItem artifacts/prerelease -Recurse -Filter *.nupkg | ForEach-Object {
            dotnet nuget push $_.FullName --source $env:NUGET_SOURCE --api-key "${{ steps.login.outputs.NUGET_API_KEY }}" --skip-duplicate
          }

      - name: Publish stable to nuget.org
        if: ${{ inputs.publish_stable }}
        shell: pwsh
        run: |
          Get-ChildItem artifacts/release/public -Recurse -Filter *.nupkg | ForEach-Object {
            dotnet nuget push $_.FullName --source $env:NUGET_SOURCE --api-key "${{ steps.login.outputs.NUGET_API_KEY }}" --skip-duplicate
          }